<div class="row" style="margin-bottom: 5px;">
    <button id="bClear" class="btn btn-default"><i class="glyphicon glyphicon-erase" aria-hidden="true"></i></button>
    <button id="bSave" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i></button>
</div>
<div class="row">
    <p id="pEditKey" class="bg-primary" style="display: none; width:70%; padding: 5px; "></p>
</div>
<div id="cWrapper" class="row">

</div>