<html>
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
        .container{
            margin-top: 20px;
        }
        #app{
            display: block;
            width: 100%;
        }

        #dSpace{
            border: 1px black solid;
            cursor: pointer;
        }

        .big_form{
            width: 990px;
        }
    </style>
</head>
<body>
<div class="container">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="./js/underscore-min.js"></script>
<script src="./js/backbone-min.js"></script>
<script src="./js/twig.min.js"></script>
<script src="./js/backbone.marionette.min.js"></script>
<script src="./js/render.js"></script>
<script src="./js/main.min.js"></script>
</body>
</html>