<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  big_form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4 >
            </div>
            <div class="modal-body" id="ppContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                {% if success %}
                <button type="button" class="btn btn-primary" id="bSuccess">{{ button|default('OK') }}</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>